@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в университет Contoso University</h2>
        <p>
            Contoso University - это образец приложения
            Как использовать Entity Framework Core в
            Веб-приложение ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Построй с нуля</h2>
        <p>Вы можете создать приложение, следуя инструкциям из этих серий.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать это</h2>
        <p>Вы можете скачать готовый проект с Github.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">See project source code &raquo;</a></p>
    </div>
</div>
